name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        go: ["1.24", "1.25"]

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - run: sudo apt update && sudo apt install -y libavformat-dev libswscale-dev

    - run: make test-nodocker

    - if: matrix.go == '1.25'
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  test32:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v5

    - run: make test-32
